body{
    overflow: auto;
    background-color: #9CC5A1;
}

button.link {
    background: none!important;
    border: 2px solid black; /* Green */
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

button.link:active {
    outline:none
}

.logout-loading {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

button.link span {
    margin-right: 10px;
}

.nav-profile {
    height: 80px;
    width: 100%;
    background-color: #9CC5A1;
}
  
.profile-container {
    margin-top: 8%;
}

.custom-file {
    margin-bottom: 3%;
}

.profile-sections, .profile-content {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tab-content {
    padding: 30px 40px;
}

.btn-custom.change-nick {
    padding: 8px;
    font-size: 12pt;
}

hr {
    margin: 0 0 20px 0;
}

.list-group-item.active {
    background-color: #9CC5A1;
    border: 5px solid white;
}

.inpt-explanation {
    margin-left: 2%;
}

.custom-file {
    margin-bottom: 20px;
}

/* link */
a:hover{
    color:black;
}
a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.after:after{
  bottom:-4px;
}
a.after:after{
  height: 4px;
  width:0;
  background:black;
}
a.link:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.after:hover:after{
  width:100%;
}

a.active {
    color: black;
    border-bottom: 4px solid black;
}

/* button */
.btn-custom {
    color: white;
    padding: 15px 15px;
    width: 100%;
    font-size: 14pt;
}

.btn-custom, .btn-custom:hover, .btn-custom:active, .btn-custom:visited {
    background-color: #9CC5A1 !important;
}

/* exit btn */
.back.exit {
    position: absolute;
    right: 2%;
    top: -10px;
}

/* back btn */
.back {
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 16pt;
}

/* inputs  */
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:black;
	transition: all 0.3s ease-in-out;
}
.input-container input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:black;
}
.input-container input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid #9CC5A1;	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-12px;
    font-size:12px;
}

form.email-form {
    margin-top:30px;
}

@media only screen and (max-width: 991px) {
    .tab-content {
        padding: 20px 30px;
    }

    .profile-container {
        margin-top: 15%;
    }
}

@media only screen and (max-width: 630px) {
    .profile-container {
        margin-top: 20%;
    }
    .back {
        top: 15px;
        z-index: 100;
    }
    .back.exit {
        top: 0;
    }
}

@media only screen and (max-width: 500px) {
    .nav-profile {
        height: 60px;
    }
    .back.exit {
        top: -8px;
        left: 80%;
    }
    .logout-loading {
        display: none;
    }
    button.link {
        border: none; /* Green */
    }
    .custom-file-label {
        font-size: 8pt;
    }
}